@page
@using System.Globalization;

@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bleakwind Buffet</h1>
    <p>We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim. Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas. Hack into a Smokehouse Skeleton with your dagger. Or vanquish the the mighty Thalmor Triple Burger! You’ve had a hard adventure and earned your loot, so spend it with us!.</p>
</div>

<h2 class="menu-title">Entrees</h2>
@foreach (BleakwindBuffet.Data.IOrderItem io in BleakwindBuffet.Data.Menu.Entrees())
{
    <div class="menu-item">
        <h3 class="item-name">@io.ToString()</h3>
        <div class="price">Price - @io.Price.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))</div>
        <div class="calories">Calories - @io.Calories</div>
    </div>
}

<h2 class="menu-title">Sides</h2>
@foreach (BleakwindBuffet.Data.IOrderItem io in BleakwindBuffet.Data.Menu.Sides())
{
    <div class="menu-item">
        <h3 class="item-name">@io.ToString()</h3>
        <div class="price">Price - @io.Price.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))</div>
        <div class="calories">Calories - @io.Calories</div>
    </div>
}

<h2 class="menu-title">Drinks</h2>
@foreach (BleakwindBuffet.Data.IOrderItem io in BleakwindBuffet.Data.Menu.Drinks())
{
    <div class="menu-item">
        <h3 class="item-name">@io.ToString()</h3>
        <div class="price">Price - @io.Price.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))</div>
        <div class="calories">Calories - @io.Calories</div>
    </div>
}

<h3 class="menu-title">Combo Details:</h3>
<div>Choose one entree, side, and a drink and you'll save $1 off your order.</div>
